<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        Hello
    </div>
</body>
<script>
    var submit_personality = async function() {
      const responseValue = {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({
            personality: [true, false, true, true, true, false, true, false, false]
        })
      }
      const response = await fetch(
        '/api/',
        responseValue
      )
      const value = await response.json()
      console.log(value["result"])
    }
    submit_personality()
</script>
</html>